body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  width: 120px;
  padding: 10px;
  margin: 5px;
  position: relative;
  font-size: medium;
  font-weight: 600;
  border: 2px solid green;
  border-radius: 5px;
  z-index: 1;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  background-color: aqua;
  z-index: -1;
  box-sizing: border-box;
  border-radius: inherit;
  transition: transform 150ms linear;
}

.btn:hover::after,
.btn:focus::after {
  transform: scaleX(1);
}

input {
  font-size: medium;
  text-align: center;
  padding: 12px;
  margin: 4px;
  outline: none;
  border: 2px solid cyan;
  border-radius: 20px;
}

input:focus, input:hover{
  background-color: #ccc;
}